body {
    background-image: url('../assets/images/wallpaper_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-container {
    width: 100vw;
    height: 100vh;
}

#alertUser {
    animation-duration: 0.3s;
}