/* 
    Scroll Bar
*/

.overflow-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #282c34;
}

.overflow-auto::-webkit-scrollbar {
    width: .5vw;
    background-color: #282c34;
}

.overflow-auto::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #00d9ff;
}